<div class="container-fluid input-container">
    <div class="row">

        <div class="col-xs-1"></div>

        <div class="col-xs-4">
            <div class="form-group">
            <label for="project">Event:</label>
            <input class="form-control input" type="text" v-model="event" id="event">
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <label for="person">Date:</label>
                <su-datepicker class="form-control input" :date.sync="date" id="date"></su-datepicker>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <label for="person">Wizard:</label>
            <input class="form-control input" type="text" v-model="person" id="wizard">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
            <button id="postButton" type="button" class="btn btn-primary btn-lg add-button" v-on:click="post">Post event</button>
            </div>
        </div>

        <div class="col-xs-1"></div>
    </div>
</div>
