<div class="row input">

    <div class="col-xs-1"></div>

    <div class="col-xs-10">

    <h3>New time slot</h3>
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <th><span style="display:block; width:50px;">Place</span></th>
                <th><span style="display:block; width:50px;">Date</span></th>
                <th><span style="display:block; width:100px;">Name</span></th>
                <th><span style="display:block; width:75px;">Arrival</span></th>
                <th><span style="display:block; width:75px;">Departure</span></th>
                <th><span style="display:block; width:100px;">Email</span></th>
                <th><span style="display:block; width:200px;">Comment</span></th>
                <th><span style="display:block; width:100px;">Action</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <th>
                <select v-model="place">
                    <option value="Tortuga" selected>Tortuga</option>
                    <option value="Kosningamiðstöð">Kosningamiðstöð</option>
                    <option value="S Kosningaskrifstofa">S Kosningaskrifstofa</option>
                    <option value="NA Kosningaskrifstofa">NA Kosningaskrifstofa</option>
                    <option value="NV Kosningaskrifstofa">NV Kosningaskrifstofa</option>
                </select>
                </th>
                <th><su-datepicker :title="content | date 'YYYY-MM-DD" :date.sync="date" id="date"></su-datepicker></th>
                <th><input placeholder="Name" v-model="person"></th>
                <th><input type="time" v-model="starttime"></th>
                <th><input type="time" v-model="endtime"></th>
                <th><input placeholder="Email"  v-model="email"></th>
                <th><input placeholder="Comment"  v-model="comment"></th>
                <th><button id="postButton" type="button" class="btn btn-primary" v-on:click="post">Post</button></th>
            </tr>
        </tbody>
    </table>

    </div>

    <div class="col-xs-1"></div>
</div>