.input-container {
    width: 1300px;
}

.input {

    input {
        border: 1px solid black;
        border-radius:4px;
        background-color : #fff; 
        width: 100%;
        font-size: 12px;
    }

    ::-webkit-input-placeholder {
        color: black;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: black;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: black;  
    }

    :-ms-input-placeholder {  
        color: black;  
    }

}


.add-button {
    margin-top: 0px;
}