/**
 * Colors.
 */
$blue: #9ccee2;
$green: #80d374;
$white: #ffffff;
$gray-light: #f1f1f1;
$gray: #898989;
$gray-dark: #636363;
$black: #4f5355;

/**
 * Font sizes.
 */
$font-size-xl: 30px;
$font-size-l: 25px;
$font-size-m: 22px;
$font-size-s: 18px;
$font-size-xs: 14px;

/**
 * Sizes
 */
$size-grid-max: 1280px;
$size-menu: 360px;
$size-menu-s: 240px;
$size-datpicker: 240px;
$size-xxl: 40px;
$size-l: 30px;
$size-m: 22px;
$size-ms: 18px;
$size-s: 14px;
$size-xs: 12px;

$animation-speed: 0.3s cubic-bezier(.25,.8,.25,1);