<div class="__main-route">
  <header>
  </header>
    <main class="content">
        <div class="container-fluid news header">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">

                    <a v-link="{ path: '/admin' }">Admin</a>

                    <div v-for="place in places">
                        <location-display :open="openOnDate(events, date, place)" :place="place" :items="events.filter(placeFilter.bind(null, place))"></location-display>
                    </div>

                </div>
                <div class="col-xs-1"></div>      
            </div>
        </div>
    </main>
</div>